.venv
.venv.*
venv/
.envrc
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.DS_Store
.ipynb_checkpoints/

# data
/data/*
!/data/.gitkeep
!/data/arrondissements-paris.geojson
!/data/cadastre/
!/data/cadastre/cadastre-75-batiments.json.gz

# streamlit
.streamlit/

# vscode
.vscode/
# Windows reserved names
nul

.venv/
  __pycache__/
  *.pyc
  .env
